{
  "plugins": ["prettier"],
  "rules": {
    "no-multiple-empty-lines": [2, {"max": 99999, "maxEOF": 0}],
    "linebreak-style": ["off"],
    "semi": "error",
    "comma-dangle": ["error", "never"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
